<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sofia.pingpong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pantallaprincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".a1"
            android:label="@string/title_activity_a1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".uno1" />
        <activity
            android:name=".fin"
            android:label="@string/title_activity_fin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".uno2" />
        <activity android:name=".win" />
        <activity android:name=".ganaste" />
        <activity android:name=".dos1" />
        <activity android:name=".dos2" />
        <activity android:name=".tres1" />
        <activity android:name=".tres2" />
        <activity android:name=".cuatro1" />
        <activity android:name=".cinco1" />
        <activity android:name=".seis1" />
        <activity android:name=".siete1" />
        <activity android:name=".ocho1" />
        <activity android:name=".nueve1" />
        <activity android:name=".dos22" />
        <activity android:name=".doss2" />
        <activity android:name=".conpelota" />
        <activity android:name=".sinpelota" />
        <activity android:name=".spelota" />
        <activity android:name=".cpelota" />
        <activity android:name=".cuatro2" />
        <activity android:name=".cinco2" />
        <activity android:name=".seis2" />
        <activity android:name=".siete2" />
        <activity android:name=".ocho2" />
        <activity android:name=".eligepelota" />
        <activity android:name=".Multijugador" />
        <activity android:name=".velocidades"></activity>
    </application>

</manifest>